* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --White: #ffffff;
  --Black: #000000;
  --Dark: #232830;
  --Very-light-pink: #c7c7c7;
  --Text-input-field: #F7F7F7;
  --Hospital-green: #ACD9B2;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
  --xsm: 1.2rem;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: grid;
  place-items: center;
}

/* New Password Form */
.main-container {
  display: grid;
  place-items: center;
  width: 33rem;
  height: 100vh;
}
  .form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 30rem;
    padding: 16px;
  }
  .logo {
    justify-self: center;
    margin-bottom: 16px;
    display: none;
  }

  .title {
    font-size: var(--lg);
    font-weight: bold;
    text-align: center;
    margin: 36px 0;
  }
  .subtitle {
    font-size: var(--md);
    text-align: center;
    font-weight: 300;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    .form a {
      color: var(--Hospital-green);
      font-size: var(--sm);
      text-align: center;
      text-decoration: none;
      margin-bottom: 52px;
    }
  .label {
    font-size: var(--sm);
    margin-bottom: 8px;
    font-weight: bold;
  }
    #label-login {
      align-self: flex-start;
    }
    #label-name {
      align-self: flex-start;
    }
  .input {
    width: 100%;
    padding: 4px;
    height: 24px;
    font-size: var(--sm);
    margin-bottom: 20px;
    background-color: var(--Text-input-field);
    border: none;
    border-radius: 8px;
  }
  .primary-button {
    border: none;
    border-radius: 8px;
    height: 50px;
    width: 100%;
    margin-bottom: 16px;
    background-color: var(--Hospital-green);
    font-size: var(--md);
    font-weight: bold;
    color: var(--White);
    cursor: pointer;
    margin-top: 12px;
  }
  .secondary-button {
    width: 30rem;
    border: 1px solid var(--Hospital-green);
    border-radius: 8px;
    height: 50px;
    margin-bottom: 16px;
    background-color: var(--White);
    font-size: var(--md);
    font-weight: bold;
    color: var(--Hospital-green);
    cursor: pointer;
    margin-top: 12px;
  }
  .label-bottom-button {
    text-align: center;
    font-size: var(--xsm);
    color: var(--Very-light-pink);
  }
  .label-checkbox {
    display: flex;
    align-items: center;
    font-size: var(--xsm);
  }
  .pswrd-checkbox {
    margin-right: 4px;
  }
  .text-link {
    color: var(--Hospital-green);
    text-decoration: none;
  }
  .value {
    align-self: start;
    color: var(--Very-light-pink);
    font-size: var(--md);
    margin: 8px 0 32px 4px;
  }

/* Email confirmation */
.email-icon-bg {
  display: grid;
  place-items: center;
  background-color: var(--Text-input-field);
  width: 132px;
  height: 132px;
  border: none;
  border-radius: 100%;
  margin-bottom: 16px;
}
.email-icon {
  width: 80px;
}

/* Main Page */
.principal-container {
  width: 100%;
}
.cards-container {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  margin-top: 16px;
}
  .product-card {
    width: 240px;
  }
    .product-card-img {
      width: 240px;
      height: 240px;
      border-radius: 20px;
      object-fit: cover;
    }
    .product-card-details {
      display: flex;
      justify-content: space-between;
      padding: 4px;
    }
    .product-info {
      padding: 4px;
    }
    .product-info p:nth-child(1) {
      font-weight: bold;
      font-size: var(--md);
      margin: 0 0 4px 0;
    }
    .product-info p:nth-child(2) {
      margin: 0;
      font-size: var(--sm);
      color: var(--Very-light-pink);
    }
    .icon-card-img {
      /* display: grid;
      align-items: center; */
      margin: 0;
      padding: 4px;
      width: 40px;
    }



/* Menu Desktop */



.menu-desktop {
  position: absolute;
  top: 48px;
  right: 66px;
  width: 160px;
  height: auto;
  padding: 20px 20px 0 20px;
  border-radius: 8px;
  border: 1px solid var(--Very-light-pink);
  background-color: var(--White);
}
  .menu-desktop ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
  .menu-desktop ul li {
    font-size: var(--md);
    font-weight: bold;
    text-align: end;
    margin-bottom: 20px;
  }
  .menu-desktop ul li:last-child {
    color: var(--Hospital-green);
    font-size: var(--sm);
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--Very-light-pink);
  }

  /* Menu Desktop */

  .menu-mobile {
    position: absolute;
    top: 48px;
    left: 0;
    display: flex;
    flex-direction: column;
    min-width: 60%;
    min-height: 70%;
    border: none;
    padding: 0 16px;
    background-color: var(--White);
  }
  .menu-mobile img {
    align-self: flex-end;
    width: 15px;
    height: 15px;
    object-fit: cover;
    margin-top: 20px;
  }
  .menu-mobile-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu-title {
    font-size: var(--lg);
    text-align: start;
    margin: 24px 0;
  }
  .menu-mobile ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
  }
  .menu-mobile ul li {
    font-size: var(--md);
    font-weight: bold;
    text-align: start;
    margin-bottom: 16px;
  }
  .menu-mobile ul li p {
    font-size: var(--sm);
    color: var(--Very-light-pink);
    text-align: start;
    padding-top: 20px;
    margin: 0;
    border-top: 1px solid var(--Very-light-pink);
  }


  .email {
    font-size: var(--sm);
    color: var(--Very-light-pink);
    font-weight: bold;
    margin: 4px 0;
    cursor: pointer;
  }
  .email:hover {
    color: var(--Hospital-green);
  }
  .sign-out {
    color: var(--Hospital-green);
    font-size: var(--sm);
    font-weight: bold;
    margin: 0 0 20px 0;
    text-decoration: none;
  }

  /* My Order */
.my-order {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

  .my-order-content {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  .order-total {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    font-size: var(--sm);
    background: var(--Text-input-field);
    border: none;
    border-radius: 16px;
    margin: 12px 0;
  }
  .order-total p {
    margin: 0;
  }
  .order-total p:nth-child(1) span {
    display: inline-block;
    margin-bottom: 4px;
  }
  .order-total p:nth-child(1) span:nth-child(1) {
    font-weight: bold;
  }
  .order-total p:nth-child(1) .n-articles {
    color: var(--Very-light-pink);
  }
  .order-total p:nth-child(2) {
    align-self: center;
    font-weight: bold;
  }
  .order-total .total-ticket {
    color:var(--Hospital-green);
  }

  .shopping-card {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    gap: 12px;
    border: none;
    font-size: var(--sm);
    margin-bottom: 4px;
  }
  .shopping-card figure {
    margin: 0;
    padding: 0;
  }

  .shopping-card figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  .shopping-card p:nth-child(2) {
    color: var(--Very-light-pink);
  }
  .shopping-card p:nth-child(3) {
    font-weight: bold;
  }

  /* Orders */

  .order {
    display: grid;
    grid-template-columns: auto 1fr auto;
    font-size: var(--sm);
    gap: 16px;
  }

  .order p:nth-child(1) span {
    display: inline-block;
    margin-bottom: 4px;
  }
  .order p:nth-child(1) span:nth-child(1) {
    font-weight: bold;
  }
  .order p:nth-child(1) .n-articles {
    color: var(--Very-light-pink);
  }
  .order p:nth-child(2) {
    align-self: center;
    text-align: end;
    font-weight: bold;
  }
  .order .total-ticket {
    color:var(--Hospital-green);
  }

  .order img {
    align-self: center;
  }

/* Navbar */

nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--Very-light-pink);
}
.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}
  .navbar-left {
    margin-left: 12px;
  }
  .navbar-right {
    margin-right: 12px;
  }
.icon-menu {
  display: none;
}
.navbar-logo {
  width: 120px;
}
.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin-left: 12px;
  display: flex;
  align-items: center;
}
.navbar-left ul li a,
.navbar-right ul li a {
  font-size: var(--sm);
  text-decoration: none;
  padding: 8px;
  color: var(--Very-light-pink);
  border: 1px solid var(--White);
  border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  color: var(--Hospital-green);
  border: 1px solid var(--Hospital-green);
}
.navbar-right ul li img {
  margin: 0 8px;
}
.navbar-shopping-cart-icon {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -2px;
  right: 7px;
  display: grid;
  place-items: center;
  font-size: 1rem;
  background-color: var(--Hospital-green);
  border-radius: 50%;
  width: 12px;
  height: 12px;
}


/* Product details */
aside {
  background-color: var(--White);
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 60px;
  width: 350px;
  height: 100vh;
  padding-bottom: 24px;
  box-shadow: 1px 2px 5px var(--Dark);
}


.product-detail-close {
  padding: 8px;
  position: absolute;
  top: 12px;
  left: 12px;
  display: grid;
  place-items: center;
  background-color: var(--White);
  border-radius: 50px;
  border: 1px solid var(--Very-light-pink);
  z-index: 2;
}
.product-detail-close:hover {
  cursor: pointer;
}
.product-detail-close img {
  width: 12px;
}

.product-detail-img {
  width: 350px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}
.points {
  width: 100%;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.points li {
  width: 8px;
  height: 8px;
  margin: 8px 6px;
  list-style-type: none;
  border-radius: 50%;
  background-color: var(--Very-light-pink);
  cursor: pointer;
}
.points .active-point {
  background-color: var(--Hospital-green);
}
.product-detail-info {
  margin: 12px 20px 0 20px;
}
.product-description {
  font-size: var(--sm);
  font-weight: 300;
  color: var(--Very-light-pink);
}
.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-to-cart-button img {
  width: 30px;
}

/* Shopping Cart */

.back-to-orders {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70px;
}

.shopping-order-cointainer {
  margin: 0 12px;
}
.left-arrow {
  transform: rotate(180deg);
  width: 10px;
  margin: 0 12px;
  cursor: pointer;
}
.icon-close {
  cursor: pointer;
}
.inactive {
  display: none;
}
@media (max-width: 900px) {
  /* .inactive {
    display: none;
  } */
  .menu-desktop {
    display: none;
  }
  .icon-menu {
    display: block;
    margin-left: 8px;
    width: 32px;
  }
  
  .navbar-left ul {
    display: none;
  }
  .email {
    display: none;
  }
  .secondary-button {
    position: absolute;
    bottom: 0;
    margin-bottom: 24px;
    /* width: inherit; */
  }
  .email-sign-out {
    margin-top: 50px;
  }
 
  .logo {
    display: block;
    margin-bottom: 10rem;
    width: 50%;
  }
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .product-card {
    width: 140px;
  }
  .product-card-img {
    width: 140px;
    height: 140px;
  }
  aside {
    min-width: 25%;
  }


}

@media (min-width: 901px) {
  .menu-mobile {
    display: none;
  }
}